.AddCard {
    margin-top: 50px;
    width: 100%;
    margin-left: 0px;

}

.AddCard-Main {
    width: 60%;
    margin-left: 20%;
}

.AddCard-Question-TextArea {
    width: 80%;
    min-width: 250px;

}

.AddCard-Answer-TextArea {
    width: 80%;
    min-width: 250px;

}

.AddCard-NavButtons {
    width: 100%;
    margin-top: 50px;
}